In [2]:
import pandas as pd
import os
import glob2

In [4]:
os.chdir('E:\\EXCEL')

In [5]:
os.path.abspath('vba.xlsm')

'E:\\EXCEL\\vba.xlsm'

## Combine Multiple Excel Worksheets Into a Single Pandas Dataframe

In [6]:
df = pd.concat(pd.read_excel('E:\\EXCEL\\vba.xlsm', sheet_name=None), ignore_index=True)

In [7]:
df

  ten  tuoi
0   a   1.0
1       NaN
2   b   2.0
3       NaN
4   c   3.0
5       NaN
6   d   4.0
7       NaN
8   e   5.0
9       NaN

### c√°ch 2:

In [8]:
xl = pd.ExcelFile('vba.xlsm')
xl.sheet_names

['Sheet1', 'Sheet2', 'Sheet3', 'Sheet4', 'Sheet5']

In [11]:
list_sheets = []
for sheet in xl.sheet_names:
    list_sheets.append(xl.parse(sheet))
    file = pd.concat(list_sheets)
file

  ten  tuoi
0   a   1.0
1       NaN
0   b   2.0
1       NaN
0   c   3.0
1       NaN
0   d   4.0
1       NaN
0   e   5.0
1       NaN

### Combine all Worksheets of all Workbooks in folder Into a Single Pandas Dataframe

In [12]:
files = os.listdir('E:\\EXCEL')
files

['dashboard',
 'vba.xlsm',
 'vba1.xlsm',
 'VBA101 - Update 27.04.2019',
 'vba2.xlsm']

In [13]:
files_xlsm = [f for f in files if f[-4:] == 'xlsm']
files_xlsm

['vba.xlsm', 'vba1.xlsm', 'vba2.xlsm']

In [14]:
list_file = glob2.glob('E:\\EXCEL\\*.xlsm')
list_file

['E:\\EXCEL\\vba.xlsm', 'E:\\EXCEL\\vba1.xlsm', 'E:\\EXCEL\\vba2.xlsm']

### cach 1

In [15]:
master_file = pd.DataFrame()
for f in list_file:
    li = pd.concat(pd.read_excel(f, sheet_name=None), ignore_index=True)
    master_file = pd.concat([master_file,li])
master_file

  ten  tuoi
0   a   1.0
1       NaN
2   b   2.0
3       NaN
4   c   3.0
5       NaN
6   d   4.0
7       NaN
8   e   5.0
9       NaN
0   a   1.0
1       NaN
2   b   2.0
3       NaN
4   c   3.0
5       NaN
6   d   4.0
7       NaN
8   e   5.0
9       NaN
0   a   1.0
1       NaN
2   b   2.0
3       NaN
4   c   3.0
5       NaN
6   d   4.0
7       NaN
8   e   5.0
9       NaN

### cach 2:

In [16]:
sheets = []
for f in list_file:
    f = pd.ExcelFile(f)
    for sheet in f.sheet_names:
        sheets.append(f.parse(sheet))
        file = pd.concat(sheets)
file

  ten  tuoi
0   a   1.0
1       NaN
0   b   2.0
1       NaN
0   c   3.0
1       NaN
0   d   4.0
1       NaN
0   e   5.0
1       NaN
0   a   1.0
1       NaN
0   b   2.0
1       NaN
0   c   3.0
1       NaN
0   d   4.0
1       NaN
0   e   5.0
1       NaN
0   a   1.0
1       NaN
0   b   2.0
1       NaN
0   c   3.0
1       NaN
0   d   4.0
1       NaN
0   e   5.0
1       NaN

### Copy all worksheets of all workbooks to a file , calles  'multiple.xlsx'

In [36]:
with pd.ExcelWriter('multiple.xlsx') as writer:
#writer = pd.ExcelWriter('multiple.xlsx')
    for f in list_file:
        name_f = (f.split('\\')[-1]).split('.')[0]
        f = pd.ExcelFile(f)
        for sheet in f.sheet_names:
            sh = f.parse(sheet, index_col=0)
            sh.to_excel(writer, sheet_name= name_f +'_'+sheet)
writer.close()

C:\Users\nguye\anaconda3\lib\site-packages\xlsxwriter\workbook.py:336: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

# Tach moi sheet thanh 1 file

In [14]:
os.chdir('E:\EXCEL')

In [28]:
os.getcwd()

'E:\\EXCEL'

In [17]:
file = pd.ExcelFile('multiple.xlsx')

In [45]:
for sh in file.sheet_names:
    name = sh.strip()
    sh = file.parse(sh)
    sh.to_excel(os.getcwd()+'\\list_file\\'+ name + '.xls')

<ipython-input-45-ec8aee402908>:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  sh.to_excel(os.getcwd()+'\\list_file\\'+ name + '.xls')